body {
  height: 100vh;
  background-color: #121212;
}

.box {
  width: 150px;
  height: 100px;
  background-color: #ccc;
}
.box img {
  height: 100px;
  width: 100%;
}

.container {
  width: 1000px;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, 100px);
  gap: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
